<div class="container pb-cmnt-container mt-4">
  <div class="row justify-content-center">
    <div class="col-8 mb-4">
      <div class="panel panel-info">
        <div class="panel-body">
          <%= form_for [@advert, @new_comment], remote: true do |f| %>
            <%= render 'shared/errors', object: @new_comment %>
            <%= f.text_area :content, rows: 1, class: "pb-cmnt-textarea", placeholder: "Your comment..." %>
            <form class="form-inline">
              <div class="btn-group">
                <button class="btn" type="button"><span class="fa fa-picture-o fa-lg"></span></button>
                <button class="btn" type="button"><span class="fa fa-video-camera fa-lg"></span></button>
                <button class="btn" type="button"><span class="fa fa-microphone fa-lg"></span></button>
                <button class="btn" type="button"><span class="fa fa-music fa-lg"></span></button>
              </div>
              <%= f.submit 'Leave comment', class: "btn btn-success pull-right" %>
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
