<div class="jumbotron jumb-tag">
  <h2 class="display-4">There are not adverts with this tag</h2>
  <hr class="my-4">
  <p>Be first to create.</p>
  <p class="lead">
    <%= link_to 'Create advert', new_advert_path, class: 'btn btn-primary btn-lg btn-success' %>
  </p>
</div>
