<% if !user_signed_in? %>
  <%= render 'layouts/jumb' %>
<% end %>
<h1 class="text-center mt-4 mb-4">Listing all adverts</h1>
<div class="mt-4 row justify-content-center mb-4">
  <%= will_paginate(@adverts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
<%= render @adverts %>
<div class="row justify-content-center mt-4">
  <%= will_paginate(@adverts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
