<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-white text-center">
    <small class="text-white">Copyright &copy; <%= link_to 'Danil Dolin', 'https://github.com/rico0072010', class: "text-white" %></small>
  </div>
</footer>
