<div class="jumbotron">
  <h1 class="display-4">Welcome to Advertise App</h1>
  <hr class="my-4">
  <p>Please sign in to use all features.</p>
  <p class="lead">
    <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-lg btn-success' %>
  </p>
</div>
